{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "jest",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "max-len": ["warn", { "code": 120 }],
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
    "@typescript-eslint/comma-dangle": ["warn",
      {
        "arrays": "always",
        "objects": "always",
        "imports": "always",
        "exports": "always",
        "functions": "only-multiline"
      }
    ],
    "react/require-default-props": "off",
    "arrow-parens": ["warn", "always"],
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "array-bracket-spacing": ["warn", "always"],
    "react/no-multi-comp": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-curly-newline": "off",
    "react/state-in-constructor": "off",
    "no-lonely-if": "off",
    "no-multiple-empty-lines": ["warn", { "max": 2, "maxEOF": 1 }],
    "arrow-body-style": ["warn", "as-needed"],
    "react/jsx-one-expression-per-line": "off"
  }
}
